{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "ignorePatterns": ["deprecated_*", "deprecated_*/**"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "rules": {
    "import/no-duplicates": "warn",
    "no-extra-boolean-cast": "warn",
    "no-console": "warn",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "printWidth": 100
      }
    ],
    "react/jsx-no-bind": [
      1,
      {
        "ignoreDOMComponents": false,
        "ignoreRefs": false,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false
      }
    ],
    "no-fallthrough": "off"
  }
}
